---
layout: layouts/home.njk
eleventyNavigation:
  key: BMI calculator
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>

#}
// Function to calculate BMI
function calculateBMI(weight, height) {
  const heightSquared = height * height; // Calculate height squared
  const bmi = weight / heightSquared; // Calculate BMI
  return bmi;
}

// Example usage
const weight = parseFloat(prompt('Enter your weight in kilograms: '));
const height = parseFloat(prompt('Enter your height in meters: '));

const bmi = calculateBMI(weight, height);
console.log('Your BMI is: ' + bmi.toFixed(2)); // Print BMI with two decimal places
