---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact Details
  order: 1
numberOfLatestPostsToShow: 0
---

<p> Content goes here</p>

<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1618939291225-8d558ea4369f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="weighing-scales">
  <div class="card-body">
    <h5 class="card-title">BMI Calculator</h5>
    <p class="card-text">Check out our free BMI calculator.</p>
    <a href="BMI calculator.njk" class="btn btn-primary">BMI Calculator</a>
  </div>
</div>